<?xml version="1.0" encoding="UTF-8"?>
<configuration  scan="true" scanPeriod="15 minutes" >
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %-5level %logger{20} [Method=%M] [Line=%L] [transactionId=%X{transactionId}] - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="com.electroeing" level="INFO" />

</configuration>